@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.gogaga-logo {
    width: 80px;
    height: 70px;
}

.nav-link {
    color: #323f4b;
    font-family: "Roboto";
}

.banner-container {
    background-image: url("images/background.jpg");
    height: 100vh;
    background-size: cover;
}

.banner-heading {
    color: white;
    font-family: "Lato";
    font-size: 45px;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.banner-caption {
    color: black;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 300;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.custom-button, .custom-outline-button {
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
}

.custom-button {
    color: white;
    background-image: linear-gradient(#007bff, #0056b3);
}

.custom-outline-button {
    color: #007bff;
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: #007bff;
}

.section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.card .package-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 500;
}

.card .package-description {
    color: #7b8794;
    font-family: "Roboto";
    font-size: 16px;
}

.follow-us-heading {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 28px;
    color: #183b56;
    text-align: center;
}

.footer {
    background-color: #0d2436;
}

.footer .contact-info {
    color: #959ead;
    font-family: "Roboto";
    font-size: 16px;
}

.icon-container .icon {
    color: #d0b200;
    font-size: 35px;
    background-color: #faf7e8;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 15px;
    padding: 22px 22px 14px 22px;
}
